<div class="container">
    <h2>Search on Github</h2>
    <form>
        <div class="form-group">
            <label for="userName">GitHub Username</label>

            <input type="text" required placeholder=" Enter Github Username" id="name">

            <button click = 'getUsers()' type="submit" class="btn btn-outline">Search</button>
        </div>
    </form>
</div>

<div class="card-body">

    <!-- Title -->
    <h4 class="card-title animated fadeInRight" ><p class="text-info"> GitSearch Found: </p></h4>
    <hr>
    <!-- Text -->
    <ul class=" card-text list-group list-group-flush">
        <li class="list-group-item animated fadeInRight"> <i class="fas fa-user-friends"></i> Followers: </li>

        <li class="list-group-item animated fadeInRight"> <i class="fas fa-users f0c0"></i> Following: </li>

        <li class="list-group-item animated fadeInRight"> <i class="fas fa-folder-open"></i> No of public repos:</li>

        <li class="list-group-item animated fadeInRight"> <i class="far fa-clock pr-1"></i> Joined on:</li>
    </ul>
</div>
